// Global: Button
.button {
	& {display:block; position:relative; background:$color-gold-gradient; border:1px solid #dcaf46;
		span {display:block; position:relative; width:100%; @include font('Montserrat','Bold'); color:$color-black; text-transform:uppercase; letter-spacing:0.04em; text-align:center;}
	}
	&:hover {text-decoration:none; background:$color-purple; border-color:transparent;
		span {color:#fff!important;}
	}
	&.red {background:$color-red; border:none;
		span {color:#fff;}
		&:hover {background:#ff4903;}
	}
}

// Global: Top Header
header {
	& {background-color:#fff; position:fixed; top:0px; left:0px; right:0px; z-index:100;}
	.upper {background-color:$color-dark-gray;
		a.logo {position:absolute; left:0px; top:50%; transform:translateY(-50%); display:block; @include image-background($image-logo-header,'center center','100% 100%'); overflow:hidden; text-indent:-1000px;}
		nav.menu {position:absolute;
			svg.hamburger {position:absolute; display:none; fill:#6d6b69;}
			.pages a {@include font('Montserrat','Medium'); color:#fff; text-align:center; text-transform:uppercase;
				&:hover {color:$color-gold;}
				&.mobile {display:none;}
			}
		}
		nav.global {position:absolute; right:0px; top:0px; height:100%;
			& > * {position:absolute; display:block;}
			a.phone {right:0px; top:0px; bottom:0px; cursor:pointer; display:none;
				span {@include font('Montserrat','SemiBold'); color:#fff; text-transform:uppercase; position:absolute;
					&:before {content:""; @include image-background($image-icon-phone,'center center','100% 100%'); position:absolute; left:0px;}
				}
			}
			a.button {right:0px; top:50%; transform:translateY(-50%); 
				span {@include font('Montserrat','SemiBold');}
			}
		}
	}
	.lower {background-color:$color-purple;
		.offer {position:absolute; left:0px; right:0px; @include font('Montserrat','Regular'); color:#fff; text-align:center;
			span {font-family:inherit; font-weight:inherit; font-size:inherit; line-height:inherit; color:inherit;}
		}
	}

	@include breakpoint('bp_1280'){
		.upper {
			&, .container {height:80px;}
			a.logo {@include image-size($image-logo-header,null,30px);}
			nav.menu {right:210px; top:30px;
				.pages a {@include font-size(18px); padding:0 30px;}
			}
			nav.global {width:180px;
				a.button {@include button(180px,50px,16px);}
			}		
		}
		.lower {
			&, .container {height:40px;}
			.offer {@include font-size(18px,40px);}
		}		
	}
	@include breakpoint('bp_1024'){
		.upper {
			&, .container {height:65px;}
			a.logo {@include image-size($image-logo-header,null,30px);}
			nav.menu {right:190px; top:25px;
				.pages a {@include font-size(16px); padding:0 20px;}
			}
			nav.global {width:150px;
				a.button {@include button(150px,40px,14px);}
			}		
		}
		.lower {
			&, .container {height:35px;}
			.offer {@include font-size(16px,35px);}
		}		
	}
	@include breakpoint('<=bp_768'){
		& {overflow:visible;}
		.container {width:100%!important; padding:0px!important;}
		.upper {
			&, .container {overflow:visible!important;}
			a.logo {@include image-background-file($image-logo-header-mobile);}
			nav.menu {left:0px; right:0px;
				svg.hamburger {display:block; left:10px; cursor:pointer;
					&:hover {fill:#949494;}
				}
				.pages {position:absolute; left:0px; right:0px; background:$color-gold-footer; z-index:10; height:0px; overflow:hidden; transition:all .25s; box-shadow: 0px 10px 8px -8px rgba(49,48,47,1);
					a {display:block; border-bottom:1px solid $color-dark-gray;
						&:hover {color:$color-dark-gray;}
						&.mobile {display:block;}
					}
				}
				&.open {
					svg.hamburger {transform:rotate(90deg);}
				}
			}
			nav.global {right:0px;
				.phone {display:block!important;}
			}
		}
		.lower .offer {left:0px; right:0px; text-align:center;
			span {display:none;}
		}
	}
	@include breakpoint('bp_768'){
		.upper {
			&, .container {height:80px;}
			a.logo {left:60px; @include image-size($image-logo-header-mobile,null,36px);}
			nav.menu {
				svg.hamburger {top:20px; width:40px; height:40px;}
				.pages {top:140px;
					a {@include font-size(30px); padding:10px 0;}
				}
				&.open .pages {height:calc((4 * 50px) + 1px);}
			}
			nav.global {width:500px;
				& > * {width:250px;}
				a.button {right:250px; @include button(250px,80px,26px);}
				a.phone {right:0px; 
					span {left:40px; top:28px; @include font-size(26px); padding-left:55px;
						&:before {width:40px; height:40px; top:-10px;}
					}
				}
			}		
		}
		.lower {
			&, .container {height:60px;}
			.offer {@include font-size(22px,60px);}
		}		
	}
	@include breakpoint('bp_540'){
		.upper {
			&, .container {height:60px;}
			a.logo {left:40px; @include image-size($image-logo-header-mobile,null,25px);}
			nav.menu {
				svg.hamburger {top:17.5px; width:25px; height:25px;}
				.pages {top:100px;
					a {@include font-size(20px); padding:10px 0;}
				}
				&.open .pages {height:calc((4 * 40px) + 1px);}
			}
			nav.global {width:340px;
				& > * {width:170px;}
				a.button {right:170px; @include button(170px,60px,18px);}
				a.phone span {left:20px; top:22px; @include font-size(18px); padding-left:40px;
					&:before {width:30px; height:30px; top:-6px;}
				}
			}		
		}
		.lower {
			&, .container {height:40px;}
			.offer {@include font-size(16px,40px);}
		}		
	}
	@include breakpoint('bp_360'){
		.upper {
			&, .container {height:40px;}
			a.logo {left:35px; @include image-size($image-logo-header-mobile,null,18px);}
			nav.menu {
				svg.hamburger {top:10px; width:20px; height:20px;}
				.pages {top:70px;
					a {@include font-size(18px); padding:8px 0;}
				}
				&.open .pages {height:calc((4 * 34px) + 1px);}
			}
			nav.global {width:230px;
				a.button {width:120px; right:110px; @include button(120px,40px,12px);}
				a.phone {width:110px;
					span {left:15px; top:15px; @include font-size(12px); padding-left:25px;
						&:before {width:20px; height:20px; top:-4px;}
					}
				}
			}		
		}
		.lower {
			&, .container {height:30px;}
			.offer {@include font-size(12px,30px);}
		}		
	}
}

// Global: Main Spacing for Fixed Header
main {
	@include breakpoint('bp_1280'){
		margin-top:120px;
	}
	@include breakpoint('bp_1024'){
		margin-top:100px;
	}
	@include breakpoint('bp_768'){
		margin-top:140px;
	}
	@include breakpoint('bp_540'){
		margin-top:100px;
	}
	@include breakpoint('bp_360'){
		margin-top:70px;
	}
}

// Global: Footer
footer {
	.upper {
		& {background:$color-gray; text-align:center;}
		img.logo {@include center-horizontal();}
		nav.pages {@include flexcolumn(); justify-content:center!important;
			a {@include font('Montserrat','SemiBold'); color:#0e0d0d; text-transform:uppercase; text-align:center; transition:color .2s ease;
				&:hover {color:$color-gold-footer;}
			}
		}
		.grid {@include center-horizontal(); border:1px solid $color-gold-footer;
			* {@include font('Oswald','Light'); color:#0e0d0d; text-transform:uppercase; text-align:center;}
			.row {border-bottom:1px solid $color-gold-footer;
				&:last-of-type {border-bottom:none;}
				.box {border-right:1px solid $color-gold-footer;
					&:last-of-type {border-right:none;}
				}
			}
			.r1 {@include flexcolumn();}
		}
	}
	.lower {
		& {background-color:$color-black;}
		.container {
			& > * {position:relative; z-index:5;}
			&:before {content:""; position:absolute; bottom:0px; right:0px; display:block; width:175px; height:175px; @include image-background($image-footer-bird,'bottom center','100% auto'); opacity:0.4; z-index:1;}
		}
		nav.legal {@include flexcolumn(); justify-content:center!important;
			a {@include font('Montserrat','Regular'); color:#fff; text-transform:uppercase; transition:color .2s ease;
				&:after {content:"|"; color:$color-gold-footer; padding:0 5px;}
				&:last-of-type:after {display:none;}
				&:hover {color:$color-gold-footer;}
			}
		}
		p.copyright {@include font('Montserrat','Regular'); color:$color-gold-footer; text-transform:uppercase; text-align:center;}
		nav.social {@include flexcolumn(); justify-content:center!important;
			a {display:block; width:40px; height:40px; background-color:#2F2F2F; border-radius:50%; margin:0 10px; text-indent:-1000px; overflow:hidden; background-position:center center; background-repeat:no-repeat; background-size:20px 20px; transition:background-color .2s ease;
				&.facebook {@include image-background-file($image-social-facebook);}
				&.twitter {@include image-background-file($image-social-twitter);}
				&.instagram {@include image-background-file($image-social-instagram);}
				&.youtube {@include image-background-file($image-social-youtube);}
				&:hover {background-color:#444444;}
			}
		}
	}
	
	@include breakpoint('>=bp_768'){
		.container {width:100%!important; max-width:900px;}
		.upper {
			.container {padding:40px 0;}
			img.logo {width:100px;}
			nav.pages {margin:40px 0 20px;
				a {margin:0 30px;}
			}
			.grid {width:100%; max-width:900px;
				.row {
					&.r1 .box {width:33.33%; padding:15px;
						p {@include font-size(18px,24px); letter-spacing:2px;}
					}
					&:not(.r1) {padding:15px;
						p {@include font-size(12px,16px); letter-spacing: 0.04em;}
					}
				}
			}
		}
		.lower {
			.container {height:180px; padding:40px 0;}
			nav.legal {
				a {@include font-size(14px,20px);}
			}
			p.copyright {@include font-size(14px,20px);}
			nav.social {margin-top:20px;}
		}
	}
	@include breakpoint('bp_768'){
		.upper {
			.grid .row.r1 .box p {@include font-size(14px,20px);}
		}
	}
	@include breakpoint('<=bp_540'){
		.upper {
			.container {padding:20px 0;}
			img.logo {width:80px;}
			nav.pages {flex-direction:column; justify-content:flex-start; align-items:flex-start; margin:20px auto;
				a {@include center-horizontal(); margin:5px auto;}
			}
			.grid {width:300px;
				.row {
					&.r1 {flex-direction:column; justify-content:flex-start; align-items:flex-start;
						.box {width:100%; padding:10px; border-right:none; border-bottom:1px solid $color-gold;
							&:last-of-type {border-bottom:none;}
							p {@include font-size(14px,20px); letter-spacing:2px;}
						}
					}
					&:not(.r1){padding:10px;
						p {@include font-size(10px,16px); letter-spacing: 0.04em;
							br {display:none;}
						}
					}
				}
			}
		}
		.lower {
			.container {height:140px; padding:20px 0;}
			nav.legal {
				a {@include font-size(12px,18px);}
			}
			p.copyright {@include font-size(12px,18px);}
			nav.social {margin-top:20px;}
		}
	}
}