// Page: Reviews
.page-reviews {
	main {
		h1.headline {@include font('Montserrat','Bold'); color:$color-gold; text-align:center;}
		hr {width:25%; border-top:2px solid $color-gold; margin: 20px auto;}
		.jdgm-widget {
			& > *:not(h1) {@include font('Montserrat','Regular');}	
			.jdgm-rev {
				.jdgm-rev__prod-info-wrapper {display:none!important;}
				.jdgm-rev__content {
					b.jdgm-rev__title {@include font('Montserrat','Bold');}
				}
			}
		}

		@include breakpoint('>=bp_1024') {
			.container {padding:50px 15px;}
			h1.headline {@include font-size(36px,42px);}
			p {@include font-size(20px,32px);}
		}	
		@include breakpoint('bp_768') {
			.container {padding:25px 15px;}
			h1.headline {@include font-size(32px,34px);}
			p {@include font-size(18px,26px);}
		}
		@include breakpoint('<=bp_540') {
			.container {padding:25px 15px;}
			h1.headline {@include font-size(26px,34px);}
			p {@include font-size(16px,22px);}
		}	
		@include breakpoint('bp_360') {
			.container {padding:25px 15px;}
			h1.headline {@include font-size(24px,32px);}
			p {@include font-size(16px,22px);}
		}

	}	
}