// Page: FAQs
.page-faq {
	main {
		.container {text-align:center;
			h1 {@include font('Montserrat','Bold'); color:$color-blue-dark;}
			.accordion-header {width:100%; margin:10px auto; padding:20px 25px; color:$color-black; background:$color-gray; 				cursor: pointer;
				div {@include font('Montserrat','SemiBold'); text-align:left;}
			}
			.accordion-content {display:none; padding:20px; text-align:left; margin:0 auto;
				& > * {@include font('Montserrat','Regular');}
				underline {text-decoration:underline;}
			}
		}
		
		@include breakpoint('>=bp_768'){
			.container {padding:50px 30px;}
			h1 {@include font-size(36px); margin-bottom:24px;}
			.accordion-header div {@include font-size(18px,26px);}
			.accordion-content p {@include font-size(20px,32px);}
		}	
		@include breakpoint('<=bp_540'){
			.container {padding:25px 15px;}
			h1 {@include font-size(26px); margin-bottom:24px;}
			 .accordion-header div {@include font-size(16px,24px);}
			 .accordion-content p {@include font-size(16px,22px);}
		}
	}
}