// Page: How it Works
.page-how-it-works {
	
	// Section: Hero
	#hero {
		.text {@include center-horizontal(); @include center-vertical();
			& > * {text-align:center; color:#060606;}
			h1 {position:relative; @include font('Montserrat','Bold'); text-transform:uppercase;
				span {@include font('Montserrat','Light');}
				&:after {content:""; position:absolute; background-color:$color-gold;}
			}
			p {@include font('Montserrat','Regular');}
		}

		@include breakpoint('>=bp_1024'){
			& {@include image-background($image-how-hero-bg-desktop,'center center','auto 100%');}
		}
		@include breakpoint('<=bp_768'){
			& {@include image-background($image-how-hero-bg-mobile,'center center','auto 100%');}
		}		
		@include breakpoint('bp_1280'){
			.container {height:740px;}
			.text {
				h1 {@include font-size(50px); margin-bottom:60px;
					&:after {bottom:-30px; height:4px; width:360px; left:calc((100% - 360px) / 2);}
				}
				p {@include font-size(24px);}
			}
		}
		@include breakpoint('bp_1024'){
			.container {height:590px;}
			.text {
				h1 {@include font-size(40px); margin-bottom:50px;
					&:after {bottom:-25px; height:3px; width:290px; left:calc((100% - 290px) / 2);}
				}
				p {@include font-size(20px);}
			}
		}
		@include breakpoint('bp_768'){
			.container {height:740px;}
			.text {width:450px;
				h1 {@include font-size(54px,60px); margin-bottom:70px;
					&:after {bottom:-35px; height:3px; width:270px; left:calc((100% - 270px) / 2);}
				}
				p {@include font-size(30px,48px);}
			}
		}
		@include breakpoint('bp_540'){
			.container {height:520px;}
			.text {width:340px;
				h1 {@include font-size(38px,42px); margin-bottom:50px;
					&:after {bottom:-25px; height:2px; width:190px; left:calc((100% - 190px) / 2);}
				}
				p {@include font-size(22px,34px);}
			}
		}
		@include breakpoint('bp_360'){
			.container {height:340px;}
			.text {width:220px;
				h1 {@include font-size(26px,28px); margin-bottom:30px;
					&:after {bottom:-15px; height:2px; width:130px; left:calc((100% - 130px) / 2);}
				}
				p {@include font-size(14px,22px);}
			}
		}				
	}
	
	// Section: Endocannabinoid System
	#system {
		.text {@include center-horizontal();
			& > * {text-align:center; color:#0b0b0b;}
			h2 {@include font('Montserrat','Bold'); text-transform:uppercase;
				span {@include font('Montserrat','Light'); display:block;}
			}
			p {@include font('Montserrat','Regular');}
		}
		picture {@include center-horizontal();}
		
		@include breakpoint('bp_1280'){
			.container {padding:60px 0;}
			.text {width:930px; margin-bottom:60px;
				h2 {@include font-size(50px); margin-bottom:40px;}
				p {@include font-size(24px,40px);}
			}
			picture {width:950px;}
		}
		@include breakpoint('bp_1024'){
			.container {padding:50px 0;}
			.text {width:750px; margin-bottom:50px;
				h2 {@include font-size(40px); margin-bottom:30px;}
				p {@include font-size(20px,32px);}
			}
			picture {width:750px;}
		}
		@include breakpoint('bp_768'){
			.container {padding:60px 0;}
			.text {width:600px; margin-bottom:50px;
				h2 {@include font-size(54px,64px); margin-bottom:40px;}
				p {@include font-size(30px,48px);}
			}
			picture {width:730px;}
		}
		@include breakpoint('bp_540'){
			.container {padding:40px 0;}
			.text {width:420px; margin-bottom:40px;
				h2 {@include font-size(38px,44px); margin-bottom:30px;}
				p {@include font-size(22px,34px);}
			}
			picture {width:500px;}
		}
		@include breakpoint('bp_360'){
			.container {padding:30px 0;}
			.text {width:280px; margin-bottom:30px;
				h2 {@include font-size(26px,30px); margin-bottom:20px;}
				p {@include font-size(14px,22px);}
			}
			picture {width:320px;}
		}
	}
	
	// Section: Ingredients
	#ingredients {
		& {background-color:#f4faff;}
		.text {
			& > * {@include center-horizontal(); text-align:center;}
			h2 {@include font('Montserrat','Bold'); text-transform:uppercase; color:#07175f;
				span {@include font('Montserrat','Light'); display:block;}
				br {display:none;}
			}
			p {@include font('Montserrat','Regular'); color:#0b0b0b;}
		}
		.flexcolumn {
			.column {
				img {@include center-horizontal();}
				h3 {@include font('Montserrat','Medium'); color:$color-gold; text-align:center;}
				p {@include font('Montserrat','Regular'); color:#0b0b0b; text-align:center;}
			}
		}
		
		@include breakpoint('bp_1280'){
			.container {padding:100px 0;}
			.text {
				h2 {@include font-size(50px); margin-bottom:40px;
					span {margin-bottom:10px;}
				}
				p {@include font-size(24px,40px); width:930px;}
			}
			.flexcolumn {margin-top:60px;
				.column {width:33.3%; padding:0 20px;
					img {height:100px; margin-bottom:20px;}
					h3 {@include font-size(34px,38px); margin-bottom:20px;} 
					p {@include font-size(24px,40px);}
				}
			}
		}
		@include breakpoint('bp_1024'){
			.container {padding:80px 0;}
			.text {
				h2 {@include font-size(40px); margin-bottom:36px;
					span {margin-bottom:10px;}
				}
				p {@include font-size(20px,32px); width:740px;}
			}
			.flexcolumn {margin-top:50px;
				.column {width:33.3%; padding:0 15px;
					img {height:90px; margin-bottom:20px;}
					h3 {@include font-size(26px,34px); margin-bottom:15px;} 
					p {@include font-size(20px,32px);}
				}
			}
		}
		@include breakpoint('<=bp_768'){
			.text {@include center-horizontal();
				span {display:inline!important;}
				br {display:block;}
			}
			.flexcolumn {
				.column:nth-of-type(1) h3 br {display:none;}
				.column:last-of-type {margin-bottom:0px;}
			}
		}
		@include breakpoint('bp_768'){
			.container {padding:100px 0;}
			.text {width:650px;
				h2 {@include font-size(50px,60px); margin-bottom:60px;}
				p {@include font-size(30px,48px);}
			}
			.flexcolumn {margin-top:50px;
				.column {padding:0 80px; margin-bottom:80px;
					img {height:300px; margin-bottom:20px;}
					h3 {@include font-size(48px,62px); margin-bottom:30px;} 
					p {@include font-size(30px,48px);}
				}
			}
		}
		@include breakpoint('bp_540'){
			.container {padding:60px 0;}
			.text {width:450px;
				h2 {@include font-size(38px,44px); margin-bottom:40px;}
				p {@include font-size(22px,34px);}
			}
			.flexcolumn {margin-top:40px;
				.column {padding:0 80px; margin-bottom:60px;
					img {height:200px; margin-bottom:10px;}
					h3 {@include font-size(34px,44px); margin-bottom:20px;} 
					p {@include font-size(22px,34px);}
				}
			}
		}
		@include breakpoint('bp_360'){
			.container {padding:40px 0;}
			.text {width:320px;
				h2 {@include font-size(26px,30px); margin-bottom:20px;}
				p {@include font-size(14px,22px);}
			}
			.flexcolumn {margin-top:40px;
				.column {padding:0 50px; margin-bottom:30px;
					img {height:140px; margin-bottom:0px;}
					h3 {@include font-size(22px,30px); margin-bottom:10px;} 
					p {@include font-size(14px,22px);}
				}
			}
		}
	}
	
	// Section: Formula
	#formula {
		& {background-color:#051147;}
		.container > * {@include center-horizontal(); color:#fff; text-align:center;}
		h2 {@include font('Montserrat','SemiBold');}
		p {@include font('Montserrat','Regular');}
		
		@include breakpoint('bp_1280'){
			.container {padding:130px 0 100px;}
			h2 {@include font-size(42px); margin-bottom:50px;}
			p {@include font-size(24px,40px); width:1000px; margin-bottom:20px;}
			img {width:115px;}
		}
		@include breakpoint('bp_1024'){
			.container {padding:100px 0 80px;}
			h2 {@include font-size(34px); margin-bottom:40px;}
			p {@include font-size(20px,32px); width:800px; margin-bottom:20px;}
			img {width:90px;}
		}
		@include breakpoint('bp_768'){
			.container {padding:100px 40px 80px;}
			h2 {@include font-size(50px,58px); width:600px; margin-bottom:80px;}
			p {@include font-size(30px,48px); margin-bottom:20px;}
			img {width:120px;}
		}
		@include breakpoint('bp_540'){
			.container {padding:60px 30px 50px;}
			h2 {@include font-size(34px,40px); width:400px; margin-bottom:40px;}
			p {@include font-size(22px,34px); margin-bottom:20px;}
			img {width:80px;}
		}
		@include breakpoint('bp_360'){
			.container {padding:40px 20px 30px;}
			h2 {@include font-size(24px,28px); width:280px; margin-bottom:20px;}
			p {@include font-size(14px,22px); margin-bottom:15px;}
			img {width:60px;}
		}
	}
	
	// Section: Purity
	#purity {
		.inner {@include center-vertical();}
		h2 {@include font('Montserrat','SemiBold'); text-align:center;}
		.flexcolumn {margin-left:auto; margin-right:auto;
			li {@include font('Montserrat','Regular');}
		}
		
		@include breakpoint('>=bp_1024'){
			& {@include image-background($image-how-purity-bg-desktop,'center center','cover');}
			.flexcolumn .column {width:50%;
				li:last-of-type {margin-bottom:0px;}
			}
		}
		@include breakpoint('<=bp_768'){
			& {@include image-background($image-how-purity-bg-mobile,'center center','cover');}
		}		
		@include breakpoint('bp_1280'){
			.container {height:620px;}
			h2 {@include font-size(42px); margin-bottom:80px;}
			.flexcolumn {
				.column {
					li {@include font-size(20px); margin-bottom:50px;}
				}
			}
		}
		@include breakpoint('bp_1024'){
			.container {height:500px;}
			h2 {@include font-size(34px); margin-bottom:60px;}
			.flexcolumn {
				.column {
					li {@include font-size(18px); margin-bottom:50px;}
				}
			}
		}
		@include breakpoint('bp_768'){
			.container {height:920px;}
			h2 {@include font-size(50px,58px); margin-bottom:60px;}
			.flexcolumn {
				.column {
					li {@include font-size(30px,36px); padding:0 40px; margin-bottom:50px;}
				}
			}
		}
		@include breakpoint('bp_540'){
			.container {height:650px;}
			h2 {@include font-size(34px,40px); margin-bottom:30px;}
			.flexcolumn {
				.column {
					li {@include font-size(22px,34px); padding:0 20px; margin-bottom:20px;}
				}
			}
		}
		@include breakpoint('bp_360'){
			.container {height:440px;}
			h2 {@include font-size(22px,28px); margin-bottom:20px;}
			.flexcolumn {
				.column {
					li {@include font-size(14px,22px); padding:0 15px; margin-bottom:15px;}
				}
			}
		}
	}
	
	// Section: Purity
	#lowerCTA {
		.inner {@include center-vertical();
			& > * {@include center-horizontal();}
		}

		@include breakpoint('>=bp_1024'){
			& {@include image-background($image-how-lowerCTA-bg-desktop,'center center','cover');}
		}
		@include breakpoint('<=bp_768'){
			& {@include image-background($image-how-lowerCTA-bg-mobile,'center center','cover');}
		}		
		@include breakpoint('bp_1280'){
			.container {height:580px;}
			.inner {
				img {width:200px; margin-bottom:70px;}
				a.button {@include button(250px,60px,20px);}
			}
		}
		@include breakpoint('bp_1024'){
			.container {height:460px;}
			.inner {
				img {width:160px; margin-bottom:60px;}
				a.button {@include button(200px,50px,16px);}
			}
		}
		@include breakpoint('bp_768'){
			.container {height:580px;}
			.inner {
				img {width:240px; margin-bottom:60px;}
				a.button {@include button(300px,72px,22px);}
			}
		}
		@include breakpoint('bp_540'){
			.container {height:400px;}
			.inner {
				img {width:180px; margin-bottom:40px;}
				a.button {@include button(210px,50px,16px);}
			}
		}
		@include breakpoint('bp_360'){
			.container {height:280px;}
			.inner {
				img {width:120px; margin-bottom:30px;}
				a.button {@include button(140px,34px,12px);}
			}
		}
	}	
	
}
