// Page: Contact Us
.page-contact-us {
	main {
	
		h1 {@include font('Montserrat','Bold'); color:$color-gold; text-align:center; @include center-horizontal();}
		h2 {@include font('Montserrat','SemiBold'); color:#000;}
		.flexcolumn {margin-left:auto; margin-right:auto;}
		.links {display:block;
			& > * {@include font('Montserrat','Medium'); color:$color-gold; display:block;
				&:before {content:""; display:inline-block; width:10px; height:10px; background-color:$color-gold; margin-right:10px;}
			}
			a:hover {text-decoration:underline;}
		}
		
		@include breakpoint('>=bp_768'){
			.flexcolumn {width:750px; margin-bottom:40px;
				.column {width:50%;
					&:first-of-type {margin-right:40px;}
					&:last-of-type {margin-left:40px;}
				}
			}
		}	
		@include breakpoint('>=bp_1024'){
			h1 {@include font-size(42px); margin:40px 0;}
			h2 {@include font-size(22px); margin-bottom:16px;}
			.links {padding-left:10px;
				a {@include font-size(16px); margin-bottom:16px;}
			}
		}
		@include breakpoint('bp_768'){
			h1 {@include font-size(36px); margin:30px 0;}
			h2 {@include font-size(22px); margin-bottom:16px;}
			.links {padding-left:10px;
				a {@include font-size(16px); margin-bottom:16px;}
			}
		}	
		@include breakpoint('<=bp_540'){
			h1 {@include font-size(26px); margin:20px 0;}
			h2 {@include font-size(22px); margin-bottom:16px;}
			.flexcolumn {margin-bottom:20px;
				.column:last-of-type {margin-top:20px;}
			}
			.links {padding-left:10px;
				a {@include font-size(16px); margin-bottom:16px;}
			}
		}
		@include breakpoint('bp_540'){
			.flexcolumn {width:480px;}
		}
		@include breakpoint('bp_360'){
			.flexcolumn {width:330px;}
		}
	
		// Contact Form 7 Overrides
		input::placeholder {
			color: rgb(88,88,88);
			font-size:16px;
		}
		textarea::placeholder {
			color: rgb(88,88,88);
			font-size:16px;
		}
		.wpcf7-not-valid-tip{
			@include font('Montserrat','Regular',12px);
			color:red;
			padding: 4px 8px;
		}
		.wpcf7-response-output{
			@include font('Montserrat','Regular',14px);
			color: #000;
			border: 2px solid red;
			padding: 16px;
		}
		input {
			@include font('Montserrat','Regular',16px,50px);
			height: 50px;
			padding: 0 15px;
			display: block;
			width: 100%;
			border: 1px solid #e3e3e3;
			color: #000;
			border-radius: 5px;
			-webkit-appearance: none;
		}
		textarea {
			@include font('Montserrat','Regular',16px);
			padding: 8px 15px;
			height:120px;
			display: block;
			width: 100%;
			border: 1px solid #e3e3e3;
			color: #000;
			border-radius: 5px;
			-webkit-appearance: none;
		}
		.wpcf7-submit {
			@include font('Montserrat','Bold',22px);
			background:$color-gold-gradient;
			color:$color-black;
			border:1px solid #dcaf46!important;
			width:150px;
			margin:auto;
			border-radius: 0px;
			cursor:pointer;
			border:none;
			text-transform:uppercase;
		}
		.wpcf7-submit:hover {
			background:$color-purple;
			border-color:transparent!important;
			color: #fff;
		}
		.wpcf7-form-control:focus {
			border-color: #ddd;
		}
	}
}