.page-home {

	main {
		// Section: Banner 
		#banner {
			text-align: center;

			.top {
			    background-image: url('images/main-offer/hero-d.jpg');
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: bottom center;

			    @include breakpoint('bp_360') {
			    	background-size: cover;
			    	background-image: url('images/main-offer/hero-m.jpg');
			    }

		    	.container {
		    		max-width: 1200px;
		    		width: 100%;
		    		overflow: visible;
		    		position: relative;
		    		
		    		@include breakpoint('bp_360') {
			    		height: 380px;
			    	}

		    		@include breakpoint('bp_540') {
			    		height: 400px;
			    	}

		    		@include breakpoint('bp_768') {
			    		height: 500px;
			    	}
			    				    	
			    	@include breakpoint('>=bp_1024') {
			    		height: 575px;
			    	}

			    	.row {
			    		position: absolute;
					    overflow: visible;
					    z-index: 999;
					    width: 100%;
					    max-width: 700px;
					    bottom: -105px;
					    left: 0;
					    right: -100px;
					    margin-left: auto;
					    margin-right: auto;

					    @include breakpoint('bp_360') {
				    		bottom: -70px;
				    		right: -70px;
				    		max-width: 700px;
				    	}

				    	@include breakpoint('>=bp_768') {
				    		bottom: -115px;
				    		right: -150px;
				    		max-width: 700px;
				    	}

				    	@include breakpoint('>=bp_1024') {
				    		bottom: 0;
						    right: -100px;
						    max-width: 1200px;
						    width: 100%;
				    	}

				    	.mobile-box {
				    		@include breakpoint('>=bp_1024') {
				    			display: none;
				    		}
				    	}

				    	.desktop-box {
				    		display: none;

				    		@include breakpoint('>=bp_1024') {
				    			display: block;
				    		}
				    	}
			    	}
			    }

			    .headline {
			    	@include font-size(44px);
			    	color: $dark-green;
			    	text-transform: uppercase;
			    	font-weight: 700;
			    	letter-spacing: 1px;
			    	padding-top: 30px;

			    	@include breakpoint('bp_360') {
						@include font-size(32px);
					}

					@include breakpoint('>=bp_1024') {
			    		@include font-size(50px);
					}
			    }

			    hr {
			    	margin-top: 5px;
			    	width: 225px;
			    	border-color: #cdab64;

			    	@include breakpoint('bp_360') {
			    		max-width: 175px;
					}

			    	@include breakpoint('bp_1280') {
			    		width: 250px;
			    	}
			    }

			    .subline {
				    @include font-size(20px,26px);
			    	color: $black;
			    	font-weight: 600;
			    	text-transform: uppercase;
			    	width: 75%;
			    	margin: 0 auto;

					@include breakpoint('bp_360') {
						@include font-size(16px,22px);
					}

					@include breakpoint('>=bp_1024') {
				    	@include font-size(22px,30px);
					}
			    }			
			}

			.bottom {
				text-align: center;
			    background: white;
			    position: relative;
			    padding-top: 90px;
			    padding-bottom: 20px;

			    @include breakpoint('bp_360') {
		    		padding-top: 60px;
		    	}

			    @include breakpoint('>=bp_768') {
			    	padding-top: 100px;
			    }

			    @include breakpoint('>=bp_1024') {
			    	padding-top: 30px;
			    }

			    .container {
			    	width: 100%;

			    	@include breakpoint('>=bp_1024') {
				    	max-width: 768px;
				    }

				    .row {
				    	.left {
							float: left;
							width: 48%;
							padding-top: 5px;
							padding-bottom: 20px;

							.headline {
								@include font-size(18px,24px);
						    	font-weight: 700;
						    	font-style: italic;
						    	color: #cdab64;

						    	@include breakpoint('bp_360') {
							    	@include font-size(16px,22px);
							    	letter-spacing:-0.02em;
							   }
						    	@include breakpoint('bp_540') {
							    	@include font-size(16px,22px);
							   }
							   @include breakpoint('>=bp_768') {
							    	@include font-size(26px,32px);
							   }
						    }

						     .subline {
						     	@include font-size(36px);
					    		color: $black;
						    	text-transform: uppercase;
						    	font-weight: 400;
						    	padding-top: 5px;
						    	
						    	@include breakpoint('bp_360') {
							    	@include font-size(28px);
							    	padding-top: 0px;		
							   }	

						    	span {
						    		font-weight: 700;
						    		span {
						    			@include font-size(12px);
						    			position: relative;
						    			top: -15px;
						    		}
						    	}
						    }
						}

						.right {
							float: right;
							width: 48%;
							padding-top: 10px;
							padding-bottom: 20px;

							.shop {
								a {
									.shop-btn {
										@include font-size(14px);
										font-weight: 700;
										color: $white;
										text-transform: uppercase;
										background: $dark-green;
										margin: 0 auto;
										height: 45px;
										letter-spacing: 1px;
									    border: 1px solid $dark-green;
									    display: inline-block;

										@include breakpoint('<=bp_540') {
											width: 160px;
											padding: 15px 0;
										}
										
										@include breakpoint('>=bp_768') {
											width: 190px;
											padding: 15px 0;
										}

										@include breakpoint('bp_1280') {
											@include font-size(18px);
											width: 230px;
											padding: 18px 0;
											height: 55px;
										}

										&:hover {
											background: #5e8927;
											border-color: #5e8927;
										}

										&:active {
											background: #5e8927;
											border-color: #5e8927;
										}
									}
								}
							}	
						}
				    }
			    }
			}  
		}

		// Section: Info Cards
		#testimonials {
			background: #f0f1f1;
		    background-repeat: no-repeat;
		    background-position: right center;
		    background-size: cover;
			padding: 30px 15px;
			text-align: center;

			@include breakpoint('>=bp_1024') {
				padding: 50px 15px;
			}
			@include breakpoint('<=bp_768') {
				padding: 30px 0;
			}

			.container {
				display: block;

				@include breakpoint('>=bp_1024') {
					display: inline-flex;
					justify-content: space-around;
					max-width: none;
					width: auto;
				}

				hr {
					position: relative;
					width: 300px;
					margin: 25px auto;

					@include breakpoint('>=bp_1024') {
						display: none;
					}
				}

				.testimonial {
					color: $white;
	    			background: #dbd2c4;
	    			max-width: 350px;
					width: 100%;
					padding: 15px;
					margin: 20px auto;
					-webkit-box-shadow: -10px 8px 18px -5px rgba(0, 0, 0, 0.25);
				    -moz-box-shadow: -10px 8px 18px -5px rgba(0, 0, 0, 0.25);
				    box-shadow: -10px 8px 18px -5px rgba(0, 0, 0, 0.25);
				    position: relative;
				    text-align: left;

	    			@include breakpoint('>=bp_1024') {
						width: 33.33%;
	    				height: 100%;
	    				margin-left: 20px;
	    				margin-right: 20px;
					}
					
					img {@include center-horizontal();}
					
					.quote-container {
					  	transform: rotate(-5deg);
					    background: #ffffff;
					    padding: 25px 20px;
					    position: absolute;
					    bottom: 80px;
   					 left: 5px;
					    width: 270px;
					    min-height: 145px;
					    display: flex;
					    justify-content: center;
					    align-content: center;
					    flex-direction: column;

					    p {
					    	@include font-size(16px,24px);
					    	color: $black;
					    	text-transform: uppercase;
						  	transform: rotate(5deg);
						  	font-weight: 500;
					    }
					}

					.name {
						@include font-size(14px,18px);
						color: $dark-green;
						text-transform: uppercase;
						font-weight: 600;
						padding: 10px 15px 0;
					}

					.title {
						@include font-size(14px,18px);
						color: $black;
						text-transform: uppercase;
						font-weight: 600;
						padding: 0 15px;
					}
				}
			}

			.reviews {
				display: block;
				padding-top: 25px;

				a {
					.reviews-btn {
						@include font-size(14px);
						text-align: center;
						font-weight: 700;
						color: $white;
						text-transform: uppercase;
						background: $dark-green;
						margin: 0 auto;
						padding: 16px 0;
						width: 220px;
						height: 45px;
						letter-spacing: 1px;
					    border: 1px solid $dark-green;
					    display: inline-block;

						@include breakpoint('>=bp_768') {
							padding: 15px 0;
						}

						@include breakpoint('bp_1280') {
							@include font-size(18px);
							width: 270px;
							padding: 18px 0;
							height: 55px;
						}

						&:hover {
							background: #5e8927;
							border-color: #5e8927;
						}

						&:active {
							background: #5e8927;
							border-color: #5e8927;
						}
					}
				}
			}
		}

		// Section: Testimonials Call to Action
		.testimonial-cta {
			padding: 35px 0;
		    background: #ffffff;
		    height: 150px;
		    text-align: center;

			@include breakpoint('>=bp_1024') {
				display: block;
				padding: 70px 0;
			}

			img {
				position: relative;
			    top: 18px;
			    left: -18px;
			    width: 85px;
			    display: inline-block;
			}

			.shop {
				display: inline-block;
				a {
					.shop-btn {
						@include font-size(14px);
						text-align: center;
						font-weight: 700;
						color: $white;
						text-transform: uppercase;
						background: $dark-green;
						margin: 0 auto;
						padding: 16px 0;
						width: 175px;
						height: 45px;
						letter-spacing: 1px;
					    border: 1px solid $dark-green;
					    display: inline-block;

						@include breakpoint('>=bp_768') {
							width: 190px;
							padding: 15px 0;
						}

						@include breakpoint('bp_1280') {
							@include font-size(18px);
							width: 230px;
							padding: 18px 0;
							height: 55px;
						}

						&:hover {
							background: #5e8927;
							border-color: #5e8927;
						}

						&:active {
							background: #5e8927;
							border-color: #5e8927;
						}
					}
				}
			}	
		}


		// Section: About CBD
		#abouts {
			text-align: center;
			background-image: url('images/main-offer/white-overlay-m.jpg');
			background-repeat: no-repeat;
			background-size: cover;
	    	background-position: center center;
		    padding: 25px 0;

		    @include breakpoint('>=bp_768') {
    			padding: 50px 0;
    		}

			.about {
				padding: 25px 0;

				.container {
					h1 {
						@include font-size(22px,30px);
						color: $dark-green;
						text-transform: uppercase;
						font-weight: 600;

						@include breakpoint('>=bp_1024') {
							@include font-size(24px,32px);
						}
					}

					h2 {
						@include font-size(16px,24px);
						text-transform: uppercase;
						font-weight: 500;

						@include breakpoint('>=bp_1024') {
							@include font-size(18px,28px);
						}
					}

					.icon {
						margin: 0 auto;
						width: 100px;
						padding: 25px 0;

						@include breakpoint('>=bp_1024') {
							width: 125px;
						}
					}

					.description {
						display: none;

						@include breakpoint('>=bp_768') {
							@include font-size(16px,24px);
							display: block;
							width: 80%;
							margin: 0 auto;
						}

						@include breakpoint('>=bp_1024') {
							@include font-size(18px,28px);
							width: 80%;
						}

						@include breakpoint('bp_1280') {
							width: 70%;
						}
					}

					.accordion {
						@include breakpoint('>=bp_768') {
							display: none;
						}

						.accordion-header {
				    		@include font-size(14px);
							cursor: pointer;
							text-align: center;
							color: $gold;
							display: inline;
							text-transform: uppercase;
							font-weight: 600;

							@include breakpoint('>=bp_768') {
				    			@include font-size(16px,24px);
				    		}

				    		@include breakpoint('>=bp_1024') {
				    			@include font-size(18px,30px);
				    		}

							.plus {
								width: 10px;
								display: inline;

								@include breakpoint('>=bp_768') {
				    				width: 12px;
				    			}
							}
						}

						.accordion-content {
							@include font-size(16px,24px);
							display: none;
							padding: 20px;
							color: $black;
							text-align: center;

							@include breakpoint('>=bp_768') {
				    			max-width: 625px;
				    			margin: 0 auto;
				    		}
						}
					}
				}
			}
		}

		// Section: Pros
		#pros {
			.pro {
				background-repeat: no-repeat;
			    background-position: center center;
			    background-size: cover;
			    height: 350px;

			    &:first-child {
					background-image: url('images/main-offer/pros-1-m.jpg');
				}
				
				&:nth-child(2n) {
					background-image: url('images/main-offer/pros-2-m.jpg');
				}
				
				&:last-child {
					background-image: url('images/main-offer/pros-3-m.jpg');
				}

			    @include breakpoint('>=bp_768') {
			    	height: 600px;

			    	&:first-child {
					background-image: url('images/main-offer/pros-1-d.jpg');
					}
					
					&:nth-child(2n) {
						background-image: url('images/main-offer/pros-2-d.jpg');
					}
					
					&:last-child {
						background-image: url('images/main-offer/pros-3-d.jpg');
					}
			    }
			}
		}

		// Section: More Info 
		#product-info {
			background-image: url('images/main-offer/white-overlay-d.jpg');
			background-repeat: no-repeat;
		    background-position: center center;
		    background-size: cover;
			padding: 50px 0;

			 @include breakpoint('bp_360') {
			 	background-image: url('images/main-offer/white-overlay-m.jpg');
			 }

			.accordion-header {
	    		@include font-size(16px);
				cursor: pointer;
				border: 1px solid $black;
				padding: 12px 20px;
				width: 250px;
				margin: 10px auto;
				text-align: left;
				color: $black;

				@include breakpoint('>=bp_768') {
	    			@include font-size(18px,26px);
	    			padding: 12px 25px;
	    			width: 375px;
	    		}

	    		@include breakpoint('>=bp_1024') {
	    			@include font-size(20px,32px);
	    		}

				i {
					float: right;
					font-weight: 100;
					padding: 8px 0;
				}
			}

			.accordion-content {
				@include font-size(16px,24px);
				display: none;
				padding: 20px;
				color: $black;
				text-align: center;
				max-width: 625px;
				width: 100%;
				margin: 0 auto;

				@include breakpoint('>=bp_1024') {
					@include font-size(18px,26px);
	    			margin: 0 auto;
	    		}
			}

			img {
				max-width: 250px;
				margin: 0 auto;
			}
		}

		// Section: Lower Call to Action
		#lower-cta {
			padding: 50px 0;
			text-align: center;

			.headline {
		    	font-weight: 700;
		    	font-style: italic;
		    	padding-bottom: 8px;
		    	color: #cdab64;

		    	@include breakpoint('bp_360') {
			    	@include font-size(26px);
			    }
		    }

		    .subline {
		     	@include font-size(32px);
			    color: $black;
		    	text-transform: uppercase;
		    	font-weight: 500;
		    	padding-bottom: 20px;

		    	span {
		    		font-weight: 700;
		    		span {
		    			@include font-size(12px);
		    			position: relative;
		    			top: -15px;
		    		}
		    	}
		    }

		    img.box {
		    	@include center-horizontal();
		    	padding-bottom: 20px;
		    }

		    .shop {
				a {
					.shop-btn {
						@include font-size(14px);
						font-weight: 700;
						color: $white;
						text-transform: uppercase;
						background: $dark-green;
						margin: 0 auto;
						padding: 16px 0;
						width: 175px;
						height: 45px;
						letter-spacing: 1px;
					    border: 1px solid $dark-green;
					    display: inline-block;

						@include breakpoint('>=bp_768') {
							width: 190px;
							padding: 15px 0;
						}

						@include breakpoint('bp_1280') {
							@include font-size(18px);
							width: 230px;
							padding: 18px 0;
							height: 55px;
						}

						&:hover {
							background: #5e8927;
							border-color: #5e8927;
						}

						&:active {
							background: #5e8927;
							border-color: #5e8927;
						}
					}
				}
			}
		}
	}

	footer {
		#top {background:#f0f1f1;
			ul li a {color:#0e0d0d; font-weight:600;}
			.box {color:#0e0d0d;}
		}
	}
	
}
