.page-science {
	
	//Section: Banner 
	#banner {
		background-image: url('images/science-bg-1.jpg');
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    text-align: center;
	    height: 400px;

	    @include breakpoint('>=bp_768') {
	   		height: 500px;
	   	}

	   	@include breakpoint('>=bp_1024') {
	   		height: 600px;
	   	}

	   	.container {
	   		@include center-vertical();

	   		.headline {
		    	@include font-size(34px);
		    	color: $white;
		    	text-transform: uppercase;
		    	font-weight: 700;
		    	letter-spacing: 3px;

		    	@include breakpoint('>=bp_768') {
		    		@include font-size(40px);
		    		letter-spacing: 4px;
		    	}

		    	@include breakpoint('>=bp_1024') {
		    		@include font-size(48px);
		    		letter-spacing: 8px;
		    	}

		    	@include breakpoint('bp_1280') {
		    		@include font-size(60px);
		    		letter-spacing: 12px;
		    	}

		    	span {
		    		font-weight: 400;
		    		color: $white;
		    	}
		    }

		    hr {
		    	margin-top: 5px;
		    	width: 150px;
		    	
		    	@include breakpoint('bp_1280') {
		    		width: 225px;
		    		margin-top: 15px;
					margin-bottom: 15px;
		    	}
		    }

		    .subline {
		    	color: $white;
		    	font-weight: 500;
		    	padding-bottom: 50px;

		    	@include breakpoint('>=bp_768') {
		    		max-width: 525px;
		    		margin: 0 auto;
		    	}
		    }
	   	}
	}

	// Section: Our Story
	#our-story {
		background-image: url('images/science-bg-2.jpg');
	    background-repeat: no-repeat;
	    background-position: right center;
	    background-size: cover;

		.container {
			text-align: center;
			padding: 100px 15px;

			@include breakpoint('bp_1280') {
				padding: 125px;
			}

				hr {
					top: 10px;
						position: relative;
				}

				p {
					color: $mediumgray;
					margin: 30px 0;

					span {
					color: $gold;
					font-weight: 700;
				}
			}
		}

	 &:before {
			content: "";
			background: url('images/molecule-left.png');
			background-repeat: no-repeat;
			position: absolute;
			z-index: 1;
			height: 300px;
			width: 500px;
			top: -175px;
			background-size: 200px;

		    @include breakpoint('<=bp_540') {
		    	visibility: hidden;
		    }

		    @include breakpoint('>=bp_768') {
		    	background-size: 250px;
		    	left: -100px;
		    }

		    @include breakpoint('>=bp_1024') {
		    	background-size: 275px;
		    	left: -30px;
		    }
		}
	}

	// Section: Science 
	#science {
		&:before {
			content: "";
		    background: url('images/molecule-right.png');
		    background-repeat: no-repeat;
		    position: absolute;
		    z-index: 1;
		    height: 300px;
		    width: 500px;
		    right: -375px;
		    top: -75px;
		    background-size: 200px;

		    @include breakpoint('bp_1280') {
		    	background-size: 300px;
		    	right: -325px;
		    }
		}
	}

	// Section: Quote
	#quote {
		background-image: url('images/white-bg.jpg');
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;

	    .container {
				text-align: center;
				padding: 100px 15px;

				@include breakpoint('bp_1280') {
					padding: 125px;
				}

				hr {
					top: 10px;
					position: relative;
				}

				p {
					color: $mediumgray;
					margin: 30px 0;

					span {
					color: $gold;
					font-weight: 700;
				}
			}
		}

		.author {
			@include font-size(16px);
			color: $green;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-top: 45px;
			font-weight: 600;
			display: block;
		}

		.title {
			@include font-size(14px);
			color: $gray;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-top: 15px;
			display: block;
		}

		&:before {
			content: "";
			background: url('images/molecule-left.png');
			background-repeat: no-repeat;
			position: absolute;
			z-index: 1;
			height: 300px;
			width: 500px;
			top: -75px;
			left: -75px;
			background-size: 200px;

		    @include breakpoint('>=bp_768') {
		    	background-size: 250px;
		    	left: -100px;
		    }

		    @include breakpoint('>=bp_1024') {
		    	background-size: 275px;
		    	left: -30px;
		    }
		}
	}

	// Section: 
	#shop-now {
		background-image: url('images/shop-now-banner.jpg');
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center bottom;
	    text-align: center;

	    @include breakpoint('bp_1280') {
	    	background-position: center -200px;
	    	background-size: 120%;
	    }

	    .container {
			padding: 50px 15px;

			@include breakpoint('>=bp_768') {
				padding-top: 100px;
				padding-bottom: 100px;
			}

			@include breakpoint('>=bp_1024') {
				padding-top: 125px;
				padding-bottom: 125px;
			}
		}

	    img {
	    	margin: 0 auto 50px;
	    	width: 175px;

	    	@include breakpoint('>=bp_1024') {
	    		margin-bottom: 75px;
	    	}
	    }

	    .shop {
			a {
				.shop-btn {
					@include font-size(12px);
					font-weight: 700;
					color: $gray;
					text-transform: uppercase;
					background: $gold-gradient;
					margin: 0 auto;
					padding: 12px 0;
					width: 150px;
					letter-spacing: 1px;
					-webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
				    -moz-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
				    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
				    border: 1px solid rgba(211, 170, 81, 0.75);

					@include breakpoint('>=bp_768') {
						@include font-size(14px);
						width: 175px;
						padding: 15px 0;
					}

					&:hover {
						background: #5e8927;
						border-color: #5e8927;
					}

					&:active {
						background: #5e8927;
						border-color: #5e8927;
					}
				}
			}
		}	
	}
}

.page-about-us {
	#newsletter {
		&:before {
			content: "";
			background: url('images/molecule-left.png');
			background-repeat: no-repeat;
			position: absolute;
			z-index: 1;
			height: 300px;
			width: 500px;
			top: -175px;
			background-size: 200px;

		    @include breakpoint('<=bp_540') {
		    	visibility: hidden;
		    }

		    @include breakpoint('>=bp_768') {
		    	background-size: 250px;
		    	left: -100px;
		    }

		    @include breakpoint('>=bp_1024') {
		    	background-size: 275px;
		    	left: -30px;
		    }
		}
	}
}