// Page: Reviews
.page-reviews {
	main {

		.headline {
			@include font('Montserrat','Bold'); color:$color-gold;
		
			@include breakpoint('bp_360') {
				@include font-size(24px,32px);
			}
		
			@include breakpoint('<=bp_540') {
				@include font-size(26px,34px);
			}
		
			@include breakpoint('>=bp_768') {
				@include font-size(32px,34px);
			}
		
			@include breakpoint('>=bp_1024') {
				@include font-size(36px,42px);
			}
		}
		
		p {
			@include font-size(16px,22px);
	
			@include breakpoint('>=bp_768') {
				@include font-size(18px,26px);
			}
			@include breakpoint('>=bp_1024') {
				@include font-size(20px,32px);
			}
		}
		  
		hr {
			width: 25%;
			border-top:2px solid $color-gold;
			margin-top: 5px;
		}

		
		.container {
			& > *:not(h1) {@include font('Montserrat','Regular');}
			padding: 25px 15px;
	
			@include breakpoint('>=bp_768') {
				padding: 50px 15px;
			}
	
			.headline {
				text-align: center;
				margin-bottom: 10px;
			}
	
			hr {
				width: 75px;
	    	    margin: 20px auto;
			}
	
			.glsr-submit-review-form {
				text-align: center;
			}
	
			.glsr-review-date {
			    position: relative;
			    top: 3px;
			    font-size: 16px;
			}
	
			.glsr-bar-background-percent {
			    background-color: $color-gold;
			}
	
			.gl-star-rating-stars.s10>span:first-child, 
			.gl-star-rating-stars.s20>span:nth-child(-1n+2), 
			.gl-star-rating-stars.s30>span:nth-child(-1n+3), 
			.gl-star-rating-stars.s40>span:nth-child(-1n+4), 
			.gl-star-rating-stars.s50>span:nth-child(-1n+5), 
			.gl-star-rating-stars.s60>span:nth-child(-1n+6), 
			.gl-star-rating-stars.s70>span:nth-child(-1n+7), 
			.gl-star-rating-stars.s80>span:nth-child(-1n+8), 
			.gl-star-rating-stars.s90>span:nth-child(-1n+9), 
			.gl-star-rating-stars.s100>span {
			    background-image: url('images/reviews/star-filled.svg')!important;
			}
	
			.glsr-star-full {
			    background-image: url('images/reviews/star-filled.svg')!important;
			}
	
			.glsr-star-half {
			    background-image: url('images/reviews/star-half.svg')!important;
			}
	
			.gl-star-rating-stars>span, 
			.glsr-star-empty {
				background-image: url('images/reviews/star-empty.svg')!important;
			}
	
			.glsr-form-messages {
				margin-bottom: 10px;
			}
	
			.glsr-shortcode.shortcode-site-reviews-summary.glsr-ltr {
			    border-bottom: 1px solid $color-gold;
			    padding: 2em 0;
			    position: relative;
			}
	
			.glsr-percentage-bars {
				margin-bottom: 0;
			}
			
			.glsr-review {
				&:last-child {
					margin-bottom: 0;
				}
			}
	
			.glsr-shortcode-title {
			    text-align: center;
			    margin-bottom: 10px;
			}
	
			.shortcode-site-reviews-form {
				.glsr-shortcode-title,
				.glsr-form-wrap .glsr-field {@include center-horizontal(); max-width:500px;}
				.gl-star-rating-stars {@include center-horizontal(); text-align:center;}
				input,button {@include center-horizontal();}
				display: none;
				border-bottom: 1px solid $color-gold;
				padding: 2em 0;
			}
	
			#write-rev-btn {
				@include font('Montserrat','Bold',16px);
				@include center-horizontal();
				margin-bottom: 1em;
				margin-top: -2em;
				padding: 10px 0;
				background:$color-gold-gradient; 
				border:1px solid #dcaf46;
				color:$color-black;
				text-transform: uppercase;
				letter-spacing: 1px;
				cursor: pointer;
				border-radius: 0;
				vertical-align: middle;
				top: 0;
				right: 0;
				width: 100%;
				max-width:250px;
	
				@include breakpoint('>=bp_768') {
					padding: 15px 30px;
					position: absolute;
					width: auto;
					margin-top: 2em;
				}
	
				&:hover,
				&:active {
					background: $color-purple;
					border-color:transparent;
					color: #fff;
				}
			}
	
			label {
				display: none;
			}
	
			input[type=text], input[type=email] {
				@include font-size(16px);
				box-shadow: none;
				border: 1px solid #dadada;
				background: #fff;
				height: 42px;
				padding: 5px 15px;
				width: 100%;
				border-radius: 5px;
	
				@include breakpoint('>=bp_768') {
					width: 500px;
				}
			}
	
			textarea {
				@include font-size(16px);
				box-shadow: none;
				border: 1px solid #dadada;
				background: #fff;
				padding: 15px;
				width: 100%;
				border-radius: 5px;
	
				@include breakpoint('>=bp_768') {
					width: 500px;
				}
			}
	
			.button {
				@include font('Montserrat','Bold',16px);
				margin-top: 15px;
				padding: 10px 20px;
				background:$color-gold-gradient; 
				border:1px solid #dcaf46;
				color:$color-black;
				text-transform: uppercase;
				letter-spacing: 1px;
				cursor: pointer;
				border-radius: 0;
				vertical-align: middle;
	
				@include breakpoint('>=bp_768') {
					margin-top: 0;
					padding: 15px 30px;
				}
	
				&:hover,
				&:active  {
					background: $color-purple;
					border-color:transparent;
					color: #fff;
				}
			}
		}
	}
}