// Page: Select Your Plan
.page-select-your-plan {
	
	.container {margin-bottom:0px!important;}

	// Header: Lower Background Color Override
	header {
		@include breakpoint('>=bp_1024'){
			.upper nav.global {display:none;}
		}
		@include breakpoint('<=bp_768'){
			.upper nav.global {display:none;}
		}
	}
	// Upper Tagline
	#upperTagline {
		& {background-color:#f7f8fc;}
		.container {padding:0px!important; text-align:center;}	
		h2 {@include center-vertical(); display:inline-block; @include font('Montserrat','Regular'); color:$color-purple; text-transform:uppercase;
			strong {@include font('Montserrat','Medium');}
			&:after {content:""; position:absolute; right:0px; @include image-background($image-shop-icon-guarantee,'center center','100% 100%');}
		}
		
		@include breakpoint('>=bp_1024'){
			.container {height:120px;}
			h2 {@include font-size(30px); padding-right:90px;
				&:after {top:-25px; width:80px; height:80px;}
			}	
		}
		@include breakpoint('bp_768'){
			.container {height:120px;}
			h2 {@include font-size(30px); padding-right:90px;
				&:after {top:-25px; width:80px; height:80px;}
			}
		}
		@include breakpoint('bp_540'){
			.container {height:80px;}
			h2 {@include font-size(20px); padding-right:60px;
				&:after {top:-18px; width:50px; height:50px;}
			}
		}
		@include breakpoint('bp_360'){
			.container {height:50px;}
			h2 {@include font-size(14px); padding-right:35px;
				&:after {top:-10px; width:30px; height:30px;}
			}
		}
	}
		
	// Main CTA
	#mainCTA {
		.headline h1 {@include font('Montserrat','Medium'); color:#333; text-align:center; letter-spacing:1px;}
		.flexbox {justify-content:space-around; overflow:visible;
			.box {position:relative; box-sizing:border-box; border:4px solid $color-purple;
				* {@include center-horizontal(); text-align:center;}
				.title {position:absolute; @include font('Montserrat','Medium'); color:#fff; text-transform:uppercase; background-color:$color-gold; border-color:#fff; border-left-style:solid; border-right-style:solid;}
				.price {text-align:center;
					& > * {position:relative; display:inline-block; @include font('Montserrat','Medium'); color:$color-purple;}
					small {font-size:60%;}
				}
				.ln1,
				.ln2 {@include font('Montserrat','Medium'); color:#050505; text-transform:uppercase;
					strong {font-family:inherit; font-style:inherit; color:inherit;}
				}
				.ln3 {@include font('Montserrat','Medium'); color:#050505;}
				hr {@include center-horizontal(); border:0px; height:1px; background:#000;}
				div.button {background:#fff; border:2px solid #f1341c;
					span {color:#f1341c;}
					&:hover,
					&:active {background-color:#f1341c;
						span {color:#fff;}
					}
				}
			}
		}
		
		@include breakpoint('>=bp_1024'){
			.headline {padding:30px 0;
				h1 {@include font-size(32px);}
			}
			.flexbox {padding:20px 10px 50px 10px;
				.box {padding:50px 20px 20px;
					.title {top:-20px; padding:10px 0; width:260px; border-left-width:20px; border-right-width:20px; @include font-size(18px); letter-spacing:-0.01em;}
					.price {margin-bottom:5px;
						.pt1 {@include font-size(28px); bottom:4px;}
						.pt2 {@include font-size(40px);}
						.pt3 {@include font-size(24px); bottom:10px;}
						small {bottom:20px;}
					}
					hr {width:160px;}
					.ln1 {@include font-size(18px); height:18px;}
					.ln2 {@include font-size(22px); height:22px; margin-bottom:15px;
						strong {display:inline-block; font-weight:inherit;}
					}
					hr {margin:15px auto;}
					div.button {@include button(220px,46px,16px);
						span {letter-spacing:0.2em;}
					}
					.ln3 {@include font-size(18px,26px); margin-top:24px; max-width:240px;}
				}
			}			
		}
		@include breakpoint('bp_1280'){
			.flexbox {
				.box {width:360px;
					.title {left:50px;}
				}
			}
		}
		@include breakpoint('bp_1024'){
			.flexbox {
				.box {width:300px;
					.title {left:15px;}
				}
			}
		}
		@include breakpoint('<=bp_768'){
			.flexbox {
				.box {@include center-horizontal(); border-width:2px;
					.price small {font-size:90%;}
					.ln2 {position:absolute; right:0px; top:0px;
						strong {display:block; font-weight:600;}
					}
					hr {display:none;}
					div.button span {letter-spacing:0.05em;}
				}
			}
		}
		@include breakpoint('bp_768'){
			.headline {padding:20px 0;
				h1 {@include font-size(32px);}
			}
			.flexbox {padding:25px 0 50px;
				.box {width:720px; padding:30px 20px 15px;
					&:nth-of-type(1),
					&:nth-of-type(2){margin-bottom:50px;}
					.title {left:185px; top:-25px; padding:10px 0; width:350px; border-left-width:20px; border-right-width:20px; @include font-size(26px); letter-spacing:-0.02em;}
					.price {
						.pt1 {@include font-size(36px); bottom:6px;}
						.pt2 {@include font-size(54px);}
						.pt3 {@include font-size(32px); bottom:16px;}
						small {bottom:28px;}
					}
					.ln1 {@include font-size(24px); margin-bottom:15px;}
					.ln2 {@include font-size(24px); right:24px; top:20px;
						strong {@include font-size(40px);}
					}
					div.button {@include button(180px,50px,18px);}
					.ln3 {@include font-size(24px); margin-top:15px;}
				}
			}
		}
		@include breakpoint('bp_540'){
			.headline {padding:15px 0;
				h1 {@include font-size(24px);}
			}
			.flexbox {padding:20px 0 30px;
				.box {width:500px; padding:25px 20px 15px;
					&:nth-of-type(1),
					&:nth-of-type(2){margin-bottom:30px;}
					.title {left:120px; top:-20px; padding:10px 0; width:260px; border-left-width:15px; border-right-width:15px; @include font-size(18px); letter-spacing:-0.02em;}
					.price {
						.pt1 {@include font-size(26px); bottom:4px;}
						.pt2 {@include font-size(38px);}
						.pt3 {@include font-size(22px); bottom:10px;}
						small {bottom:18px;}
					}
					.ln1 {@include font-size(18px); margin-bottom:10px;}
					.ln2 {@include font-size(16px); right:10px; top:10px;
						strong {@include font-size(28px);}
					}
					div.button {@include button(130px,36px,14px);}
					.ln3 {@include font-size(18px); margin-top:10px;}
				}
			}
		}
		@include breakpoint('bp_360'){
			.headline {padding:10px 0;
				h1 {@include font-size(18px);}
			}
			.flexbox {padding:12px 0 20px;
				.box {width:330px; padding:15px 0 5px;
					&:nth-of-type(1),
					&:nth-of-type(2){margin-bottom:20px;}
					.title {left:65px; top:-14px; padding:6px 0; width:200px; border-left-width:15px; border-right-width:15px; @include font-size(12px); letter-spacing:-0.01em;}
					.price {
						.pt1 {@include font-size(18px); bottom:3px;}
						.pt2 {@include font-size(26px);}
						.pt3 {@include font-size(16px); bottom:7px;}
						small {bottom:9px;}
					}
					.ln1 {@include font-size(12px); margin-bottom:5px;}
					.ln2 {@include font-size(10px); right:6px; top:6px;
						strong {@include font-size(18px);}
					}
					div.button {@include button(110px,25px,12px);}
					.ln3 {@include font-size(12px); margin-top:5px;}
				}
			}
		}		
		
	}
		
}