// SASS: Breakpoint Sizes
@include breakpoints((
	bp_1280:(1280px,null),
	bp_1024:(1024px,1279px),
	bp_768:(768px,1023px),
	bp_540:(540px,767px),
	bp_360:(null,539px)
));

// Container Widths
@include breakpoint('bp_1280'){
	.container {width:1200px!important;}
}
@include breakpoint('bp_1024'){
	.container {width:1000px!important;}
}
@include breakpoint('bp_768'){
	.container {width:750px!important;}
}
@include breakpoint('<=bp_540'){
	.container {width:100%!important; min-width:360px; overflow-x:hidden; padding-left:15px; padding-right:15px;}
}

// SASS: Colors
$color-gold: #c7a254;
$color-gold-footer:#9e8760;
$color-gold-gradient: linear-gradient(90deg, #ae7d35 30%, #f3e6a1);
$color-gray: #f0f1f1;
$color-dark-gray: #31302f;
$color-purple: #07175f;
$color-green: #4F8B00;
$color-black: #272323;
$color-red: #E50404;
$color-blue-dark: #193059;
$color-blue-light: #49afd1;

// SASS: Fonts
$fonts: (
  Montserrat: #{'Montserrat',Helvetica,Arial,sans-serif},
  Oswald: 	  #{'Oswald',Helvetica,Arial,sans-serif},
  Gotham:     #{'Roboto Slab',Helvetica,Arial,sans-serif},
  default:	  #{'Helvetica Neue',Helvetica,Arial,sans-serif}
);
