.page-offer-v1 {
	
	main {
		
		// Section: Banner 
		#banner {
			background: $white;
			text-align: center;
	
			.top {
			    background-image: url('images/main-offer-v1/banner.jpg');
			    background-repeat: no-repeat;
			    background-position: center;
			    
			    @include breakpoint('<=bp_540') {
			    	background-size: 768px;
			   		height: 350px;
			    }
	
	    		@include breakpoint('>=bp_768') {
			    	background-size: 1300px;
			    	height: 550px;
			    	margin-top: -5px;
			    	background-position: center -95px;
		    	}
	
		    	@include breakpoint('>=bp_1024') {
			    	height: 600px;
		    	}
			    
			    @include breakpoint('bp_1280') {
			    	background-size: 100%;
			    	height: 950px;
		    	}
	
		    	.container {
		    		height: 500px;
		    		
		    		@include breakpoint('>=bp_768') {
			    		height: 800px;
			    	}
	
					@include breakpoint('bp_1280') {
			    		height: 920px;
			    	}
				}
	
			    img {
		    		margin: 0 auto;
				    width: 470px;
				    position: absolute;
				    z-index: 999;
				    top: 225px;
				    left: 0;
				    right: 0;
	
					@include breakpoint('>=bp_768') {
						width: 700px;
			    		top: 300px;
			    	}
	
			    	@include breakpoint('>=bp_1024') {
			    		top: 315px;
			    	}
	
			    	@include breakpoint('bp_1280') {
			    		max-width: 800px;
			    		width: 100%;
					    position: absolute;
					    margin-left: auto;
					    margin-right: auto;
					    left: 0;
					    right: 0;
					    bottom: 0;
					    top: unset;
			    	}
			    }
	
			    .headline {
				    	@include font-size(34px);
				    	color: $white;
				    	text-transform: uppercase;
				    	font-weight: 700;
				    	letter-spacing: 3px;
				    	padding-top: 50px;
	
				    	@include breakpoint('>=bp_768') {
				    		@include font-size(40px);
				    		letter-spacing: 4px;
				    		padding-top: 75px;
				    	}
	
				    	@include breakpoint('>=bp_1024') {
				    		@include font-size(48px);
				    		letter-spacing: 8px;
				    		padding-top: 80px;
				    	}
	
				    	@include breakpoint('bp_1280') {
				    		@include font-size(60px);
				    		letter-spacing: 12px;
				    		padding-top: 110px;
				    	}
	
				    	span {
				    		font-weight: 400;
				    		color: $white;
				    	}
				    }
	
				    hr {
				    	margin-top: 5px;
				    	width: 150px;
				    	
				    	@include breakpoint('bp_1280') {
				    		width: 225px;
				    		margin-top: 15px;
	    					margin-bottom: 15px;
				    	}
				    }
	
				    .subline {
				    	@include font-size(12px);
				    	color: $white;
				    	font-weight: 500;
				    	padding-bottom: 50px;
	
				    	@include breakpoint('>=bp_768') {
							@include font-size(16px);
							padding-bottom: 50px;
						}
	
						@include breakpoint('>=bp_1024') {
							@include font-size(20px);
							padding-bottom: 50px;
						}
	
						@include breakpoint('bp_1280') {
							@include font-size(22px);
							padding-bottom: 60px;
						}
				    }
	
				    .seal-desktop {
				    	display: none;
	
				    	@include breakpoint('>=bp_768') {
			    		    display: block;
						    width: 150px;
						    top: 400px;
						    margin-left: auto;
						    margin-right: 5px;
				    	}
	
				    	@include breakpoint('>=bp_1024') {
				    		top: 430px;
	    					margin-right: 0;
				    	}
	
				    	@include breakpoint('bp_1280') {
						    top: 515px;
						    margin-right: 150px;
						    width: 175px;
				    	}
				    }
	
	
			    .shop {
					a {
						.shop-btn {
							@include font-size(12px);
							font-weight: 700;
							color: $gray;
							text-transform: uppercase;
							background: $gold-gradient;
							margin: 0 auto;
							padding: 12px 0;
							width: 150px;
							letter-spacing: 1px;
							-webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
						    -moz-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
						    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
						    border: 1px solid rgba(211, 170, 81, 0.75);
	
							@include breakpoint('>=bp_768') {
								@include font-size(14px);
								width: 190px;
								padding: 15px 0;
							}
	
							@include breakpoint('bp_1280') {
								@include font-size(18px);
								width: 230px;
								padding: 18px 0;
							}
	
							&:hover {
								background: #5e8927;
								border-color: #5e8927;
							}
	
							&:active {
								background: #5e8927;
								border-color: #5e8927;
							}
						}
					}
				}	
			}
	
		    .bottom {
				text-align: center;
			    background: white;
			    position: relative;
			    padding-top: 150px;
			    padding-bottom: 25px;
	
			    @include breakpoint('bp_360') {
		    		padding-top: 140px;
		    	}
	
			    @include breakpoint('>=bp_768') {
			   		padding-bottom: 75px;
		    	}
	
		    	@include breakpoint('>=bp_1024') {
			   		padding-top: 150px;
			   		margin-top: -35px;
		    	}
	
		    	@include breakpoint('bp_1280') {
		    		margin-top: -275px;
		    		padding-top: 175px;
			   		padding-bottom: 100px;
		    	}
	
				hr {
			    	margin-top: 10px;
	
			    	@include breakpoint('bp_1280') {
				    	width: 125px;
				    }
			    }
	
			    .headline {
			    	font-weight: 700;
	
			    	@include breakpoint('bp_360') {
				    	@include font-size(22px,28px);
				    }
	
			    	span {
			    		color: $gray;
			    		font-weight: 900;
			    	}
			    }
	
			    .subline {
			    	color: $mediumgray;
			    	text-transform: uppercase;
			    	font-weight: 500;
	
			    	@include breakpoint('<=bp_540') {
			    		@include font-size(12px);
			    	}
			    }
	
			    .seal-mobile {
			    	width: 150px;
			    	margin: 30px auto 0;
	
			    	@include breakpoint('>=bp_768') {
			    		display: none;
			    	}
			    }
	
			    &:before {
					content: "";
					background: url('images/main-offer-v1/molecule-left.png');
					background-repeat: no-repeat;
					position: absolute;
					z-index: 1;
					height: 300px;
					width: 500px;
					top: -175px;
					background-size: 200px;
	
				    @include breakpoint('<=bp_540') {
				    	visibility: hidden;
				    }
	
				    @include breakpoint('>=bp_768') {
				    	background-size: 250px;
				    	left: -100px;
				    }
	
				    @include breakpoint('>=bp_1024') {
				    	background-size: 275px;
				    	left: -30px;
				    }
				}
			}  
		}
	
		// Section: What is CBD? 
		#cbd {
			background-image: url('images/main-offer-v1/cbd-bg.jpg');
		    background-repeat: no-repeat;
		    background-position: right center;
		    background-size: cover;
		    padding: 50px 0;
	
		    @include breakpoint('>=bp_768') {
				padding: 75px 0;
			}
	
			.container {
				text-align: center;
	
				img {
					width: 200px;
					margin: 0 auto;
	
					@include breakpoint('>=bp_768') {
						width: 250px;
					}
	
					@include breakpoint('>=bp_1024') {
						width: 350px;
					}
				}
	
				.headline {
					margin: 0 auto;
					width: 400px;
	
					@include breakpoint('bp_360') {
						@include font-size(20px,24px);
						width: auto;
					}
	
					@include breakpoint('>=bp_768') {
					    width: 500px;
					}
	
					@include breakpoint('>=bp_1024') {
					    width: 700px;
					}
				}
	
				.subline {
					@include font-size(28px);
					color: $mediumgray;
					text-transform: uppercase;
					margin-top: -25px;
	
					@include breakpoint('>=bp_768') {
						@include font-size(42px);
						margin-top: -20px;
					}
	
					@include breakpoint('>=bp_1024') {
						@include font-size(54px);
						margin-top: -15px;
					}
				}
	
				.cbd-btn {
					@include font-size(16px);
					letter-spacing: 1px;
					background: rgba(0,0,0,0.5);
					color: $white;
					text-transform: uppercase;
					width: 175px;
					padding: 12px 0;
					margin: 20px auto 0;
					border: 0;
	
					@include breakpoint('>=bp_768') {
						@include font-size(22px);
						margin-top: 25px;
						width: 225px;
					}
	
					@include breakpoint('>=bp_1024') {
						@include font-size(24px);
						margin-top: 30px;
						width: 275px;
					}
	
					&:hover {
						background: $mediumgray;
						color: $darkgold;
					}
				}
			}
	
			&:before {
				content: "";
			    background: url('images/main-offer-v1/molecule-right.png');
			    background-repeat: no-repeat;
			    position: absolute;
			    z-index: 1;
			    height: 300px;
			    width: 500px;
			    right: -375px;
			    top: -125px;
			    background-size: 200px;
	
			    @include breakpoint('bp_1280') {
			    	background-size: 300px;
			    	right: -325px;
			    }
			}
		}
	
		// Section: Pros Intro
		#pros-intro {
			background-image: url('images/main-offer-v1/white-bg.jpg');
		    background-repeat: no-repeat;
		    background-position: right center;
		    background-size: cover;
	
			.container {
				text-align: center;
				padding: 100px 15px;
	
				@include breakpoint('bp_1280') {
					padding: 125px;
				}
	
				hr {
					top: 10px;
	   				position: relative;
				}
	
				p {
					color: $mediumgray;
					margin: 30px 0;
				}
			}
	
			.line {
				border-left: 1px solid $line;
			    width: 1px;
			    height: 80px;
			    margin: 0 auto;
			    position: absolute;
			    bottom: 0;
			    left: 50%;
			}
	
			&:before {
				content: "";
			    background: url('images/main-offer-v1/molecule-right.png');
			    background-repeat: no-repeat;
			    position: absolute;
			    z-index: 1;
			    height: 300px;
			    width: 500px;
			    right: -375px;
			    top: -75px;
			    background-size: 200px;
	
			    @include breakpoint('bp_1280') {
			    	background-size: 300px;
			    	right: -325px;
			    }
			}
		}
	
		// Section: Pros
		#pros {
			.pro {
				background-repeat: no-repeat;
			    background-position: center center;
			    background-size: cover;
			    height: 350px;
	
			    @include breakpoint('>=bp_1024') {
			    	height: 600px;
			    }
				
				&:first-child {
					background-image: url('images/main-offer-v1/pros-1.jpg');
				}
				&:nth-child(2n) {
					background-image: url('images/main-offer-v1/pros-2.jpg');
				}
				&:nth-child(3n) {
					background-image: url('images/main-offer-v1/pros-3.jpg');
				}
				&:last-child {
					background-image: url('images/main-offer-v1/pros-4.jpg');
				}
			}
		}
	
		// Section: Shop 
		#shop {
			.product {
				padding: 40px 25px 25px;
				&:first-child {
					&:before {
						content: "";
					    background: url('images/main-offer-v1/50off.png');
					    background-repeat: no-repeat;
					    position: absolute;
					    z-index: 1;
					    height: 90px;
					    width: 200px;
					    background-size: 45%;
					}
				}
				&:last-child {
					.product {
						&:first-child {
							&:before {
								content: "";
							    background: url('images/main-offer-v1/40off.png');
							    background-repeat: no-repeat;
							    position: absolute;
							    z-index: 1;
							    height: 90px;
							    width: 200px;
							    background-size: 45%;
							}
						}
					}
				}
	
			}
	
			&:before {
				content: "";
			    background: url('images/main-offer-v1/molecule-left.png');
			    background-repeat: no-repeat;
			    position: absolute;
			    z-index: 1;
			    height: 300px;
			    width: 200px;
			    left: -100px;
			    top: -115px;
			    background-size: 200px;
	
			    @include breakpoint('bp_1280') {
			    	background-size: 300px;
			    }
			}
		}
	
		// Section: Info Cards
		#cards {
			background-image: url('images/main-offer-v1/cards-bg.jpg');
		    background-repeat: no-repeat;
		    background-position: right center;
		    background-size: cover;
			text-align: center;
			padding: 30px 15px;
	
			.container {
				display: block;
	
				@include breakpoint('>=bp_768') {
					display: inline-flex;
					justify-content: space-around;
					max-width: none;
					width: auto;
				}
	
				.card {
					color: $white;
	    			background: $darkgray;
	    			max-width: 425px;
					width: 100%;
					margin: 20px auto;
					border-radius: 50px;
					-webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
				    -moz-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
				    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.25);
	
	    			@include breakpoint('>=bp_768') {
						width: 33.33%;
						min-height: 600px;
	    				height: 100%;
	    				margin-left: 10px;
	    				margin-right: 10px;
					}
	
					@include breakpoint('>=bp_1024') {
						min-height: 675px;
					}
	
					@include breakpoint('bp_1280') {
						min-height: 700px;
					}
	
					.description {
						padding: 30px 0 25px;
						h6 {
							@include font-size(16px);
							font-weight: 600;
							text-transform: uppercase;
	
							@include breakpoint('>=bp_768') {
								@include font-size(14px);
							}
						}
	
						h1 {
							@include font-size(22px);
							color: $darkgold;
							font-weight: 700;
							text-transform: uppercase;
							padding-top: 5px;
	    					margin-bottom: -10px;
	
	    					@include breakpoint('>=bp_768') {
								@include font-size(20px);
							}
	
	    					@include breakpoint('bp_1280') {
								@include font-size(26px);
							}
						}
	
						img {
						    width: 100%;
							margin: 0 auto;
						}
	
	
						hr {
							position: relative;
							top: 5px;
							margin: 25px auto;
						}
	
						p {
							@include font-size(14px,20px);
							padding: 0 15px;
							font-weight: 400;
	
							@include breakpoint('>=bp_1024') {
								@include font-size(18px,26px);
							}
						}
					}
				}
			}
		}
	
	}
	
	footer {
		#top {background:url('images/main-offer-v1/concrete-bg.jpg') right center no-repeat; background-size:cover;
			ul li a {color: $white; font-weight:500;}
			.box {background-color:$darkgray; color:$white;}
		}
	}
		
}