.page-reviews {
	main {
		.container {
		padding: 25px 15px;

		@include breakpoint('>=bp_768') {
			padding: 50px 15px;
		}

		.headline {
			text-align: center;
			margin-bottom: 10px;
		}

		hr {
			width: 75px;
    	    margin: 20px auto;
		}

		.glsr-submit-review-form {
			text-align: center;
		}

		.glsr-review-date {
		    position: relative;
		    top: 3px;
		    font-size: 16px;
		}

		.glsr-bar-percent {
		    background-color: $gold;
		}

		.gl-star-rating-stars.s10>span:first-child, .gl-star-rating-stars.s20>span:nth-child(-1n+2), .gl-star-rating-stars.s30>span:nth-child(-1n+3), .gl-star-rating-stars.s40>span:nth-child(-1n+4), .gl-star-rating-stars.s50>span:nth-child(-1n+5), .gl-star-rating-stars.s60>span:nth-child(-1n+6), .gl-star-rating-stars.s70>span:nth-child(-1n+7), .gl-star-rating-stars.s80>span:nth-child(-1n+8), .gl-star-rating-stars.s90>span:nth-child(-1n+9), .gl-star-rating-stars.s100>span {
		    background-image: url('images/star-filled.svg');
		}

		.glsr-star-full {
		    background-image: url('images/star-filled.svg');
		}

		.glsr-star-half {
		    background-image: url('images/star-half.svg');
		}

		.gl-star-rating-stars>span, .glsr-star-empty {
			background-image: url('images/star-empty.svg');
		}

		.glsr-form-messages {
			margin-bottom: 10px;
		}

		.glsr-shortcode.shortcode-site-reviews-summary.glsr-ltr {
		    border-bottom: 1px solid $gold;
		    padding: 2em 0;
		    position: relative;
		}

		.glsr-percentage-bars {
			margin-bottom: 0;
		}
		
		.glsr-review {
			&:last-child {
				margin-bottom: 0;
			}
		}

		.glsr-shortcode-title {
		    text-align: center;
		    margin-bottom: 10px;
		}

		.shortcode-reviews-form {
			display: none;
			border-bottom: 1px solid $gold;
			padding: 2em 0;
		}

		#write-rev-btn {
			@include font-size(14px);
			margin-bottom: 1em;
			margin-top: -2em;
			margin-left: auto;
			margin-right: auto;
			padding: 10px 0;
			background: $mediumgray;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1px;
			cursor: pointer;
			border-radius: 0;
			color: $gold;
			vertical-align: middle;
			top: 0;
			right: 0;
			width: 100%;

			@include breakpoint('>=bp_768') {
				padding: 15px;
				position: absolute;
				width: auto;
				margin-top: 2em;
			}

			&:hover {
				background: #5e8927;
				color: $white;
			}

			&:active {
				background: #5e8927;
				color: $white;
			}
		}

		label {
			display: none;
		}

		input[type=text], input[type=email] {
			@include font-size(16px);
			box-shadow: none;
			border: 1px solid #dadada;
			background: $white;
			height: 42px;
			padding: 5px 15px;
			width: 100%;
			border-radius: 5px;

			@include breakpoint('>=bp_768') {
				width: 500px;
			}
		}

		textarea {
			@include font-size(16px);
			box-shadow: none;
			border: 1px solid #dadada;
			background: $white;
			padding: 15px;
			width: 100%;
			border-radius: 5px;

			@include breakpoint('>=bp_768') {
				width: 500px;
			}
		}

		.button {
			@include font-size(14px);
			margin-top: 15px;
			padding: 10px 20px;
			background: $mediumgray;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1px;
			cursor: pointer;
			border-radius: 0;
			color: $gold;
			vertical-align: middle;

			@include breakpoint('>=bp_768') {
				margin-top: 0;
				padding: 14px;
			}

			&:hover {
				background: #5e8927;
				color: $white;
			}

			&:active {
				background: #5e8927;
				color: $white;
			}
		}
	}
	}
}